.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 200px 100px;
    text-align: center;
    gap: 10px;
}
.box{
    background-color: beige;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    border: 1px solid black;
}
.container2{
    display: grid;
    grid-template-columns: auto 100px 1fr;
    text-align: center;
    gap: 10px;
}